<!-- Header section start here -->
<header class="header-section ">
    <div class="header-top d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-7 col-12">
                    <div class="ht-left">
                        <ul class="agri-ul d-flex flex-wrap">
                            <li><i class="icofont-envelope"></i><span>Chashi@gmail.com</span></li>
                            <li><i class="icofont-phone"></i><span>+88130-589-745-6987</span></li>
                            <li><i class="icofont-stopwatch"></i><span>Mon - Fri 09:00 - 18:00</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="ht-right">
                        <div class="scocial-media">
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                            <a href="#" class="vimeo"><i class="icofont-vimeo"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            {{ menu('main', 'helpers/_mainmenu.twig') }}


</header>
<!-- Header section ending here -->
