<!-- Banner Section Start Here -->
<div class="banner banner-pad-1 bg_img" style="background: url({{ homepage.banner_image }})">
    <div class="container">
        <div class="banner-content">
            <div class="banner-title">{{ config.get('general/sitename') }}</div>
            <div class="banner-desc">Dynamically supply web-enabled portals for high standards income and business Completely productivate optimal sources rather than strategic.</div>
            <a href="#" class="lab-btn"><span>Discover </span></a>
        </div>
    </div>
</div>
<!-- Banner Section Ending Here -->
