<!-- agricul farm section start here -->
<section class="agricul-farm-section padding-tb bg_img_1 bg_img ">
    <div class="container">
        <div class="section-wrapper">
            <div class="row">
                <div class="col-lg-7 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="farm-left">
                        <div class="agricul-farm-thumb">
                            <img src="assets/images/farm/01.png" alt="agricul-farm">
                        </div>
                        <div class="agricul-farm-animate">
                            <div class="farm-line">
                                <div class="lab-tooltip"><p>Australia</p></div>
                                <span class="pluse_1"></span><span class="pluse_2"></span>
                            </div>
                            <div class="farm-line">
                                <div class="lab-tooltip"><p>Canada</p></div>
                                <span class="pluse_1"></span><span class="pluse_2"></span>
                            </div>
                            <div class="farm-line">
                                <div class="lab-tooltip"><p>Russia</p></div>
                                <span class="pluse_1"></span><span class="pluse_2"></span>
                            </div>
                            <div class="farm-line">
                                <div class="lab-tooltip"><p>Koriya</p></div>
                                <span class="pluse_1"></span><span class="pluse_2"></span>
                            </div>
                            <div class="farm-line">
                                <div class="lab-tooltip"><p>Bangladesh</p></div>
                                <span class="pluse_1"></span><span class="pluse_2"></span>
                            </div>
                            <div class="farm-line">
                                <div class="lab-tooltip"><p>Singapur</p></div>
                                <span class="pluse_1"></span><span class="pluse_2"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="farm-right">
                        <div class="section-header text-center text-lg-start">
                            <h3>Huge Agricul Farm We Are On The World.</h3>
                            <p>Conveniently customize proactive the web services globally interfaces without globally continually aggregat few month without globally wellies richard.</p>
                            <a href="#" class="lab-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- agricul farm section ending here -->
