<!-- product section start here -->
<section class="product-section padding-tb">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.4s">
            <h3>Agricul Farm Organic Products</h3>
            <p>Conveniently customize proactives into everaged interfaces without Globally</p>
        </div>
        <div class="section-wrapper wow fadeInUp" data-wow-delay="0.5s">
            <ul class="agri-ul product-filter-name">
                <li data-filter="*" class="active">See All</li>
                <li data-filter=".fruits">Fruits</li>
                <li data-filter=".wheat">Wheat</li>
                <li data-filter=".vegetable">Vegetable</li>
                <li data-filter=".milk">Milk</li>
                <li data-filter=".honey">Honey</li>
            </ul>

            <div class="grid">
                <div class="product-item fruits">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/01.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Fruits</a>
                        </div>
                    </div>
                </div>
                <div class="product-item wheat">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/02.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Machine</a>
                        </div>
                    </div>
                </div>
                <div class="product-item honey">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/03.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Honey</a>
                        </div>
                    </div>
                </div>
                <div class="product-item milk">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/04.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Sheep</a>
                        </div>
                    </div>
                </div>
                <div class="product-item wheat">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/05.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Rice</a>
                        </div>
                    </div>
                </div>
                <div class="product-item vegetable">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/06.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Fruits</a>
                        </div>
                    </div>
                </div>
                <div class="product-item milk">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/07.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Chicken</a>
                        </div>
                    </div>
                </div>
                <div class="product-item vegetable">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/08.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Cabbage</a>
                        </div>
                    </div>
                </div>
                <div class="product-item milk">
                    <div class="product-inner">
                        <div class="product-thumb">
                            <img src="assets/images/product/09.jpg" alt="product">
                        </div>
                        <div class="product-content">
                            <a href="#" class="product-name">Cows</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section ending here -->
