<!-- testimonial section start here -->
<section class="testimonial-section padding-tb">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h3>What Client Say Our Agricul Farm </h3>
            <p>Conveniently customize proactive  services leveraged interfaces without Globally </p>
        </div>
        <div class="section-wrapper wow fadeInUp" data-wow-delay="0.4s">
            <div class="testi-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-inner">
                                <div class="testi-head">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/01.jpg" alt="testimonial">
                                    </div>
                                    <div class="testi-clients">
                                        <a href="#"><h5>Jeson Smith</h5></a>
                                        <p>Founder & Ceo</p>
                                        <div class="rating">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi-body">
                                    <p><span class="img-left"><img src="assets/images/testimonial/qute.png" alt="quete"></span>Continually Onceptualizef Technically invs Professionally monetizeturkeyf Testingdu Frofessionally oe-enablfunctaizede-come rce Onceptualize Technically initiatives.<span class="img-right"><img src="assets/images/testimonial/quete-left.png" alt="quete"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-inner">
                                <div class="testi-head">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/02.jpg" alt="testimonial">
                                    </div>
                                    <div class="testi-clients">
                                        <a href="#"><h5>Sahjahan Sagor</h5></a>
                                        <p>Founder & Ceo</p>
                                        <div class="rating">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi-body">
                                    <p><span class="img-left"><img src="assets/images/testimonial/qute.png" alt="quete"></span>Continually Onceptualizef Technically invs Professionally monetizeturkeyf Testingdu Frofessionally oe-enablfunctaizede-come rce Onceptualize Technically initiatives.<span class="img-right"><img src="assets/images/testimonial/quete-left.png" alt="quete"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-inner">
                                <div class="testi-head">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/03.jpg" alt="testimonial">
                                    </div>
                                    <div class="testi-clients">
                                        <a href="#"><h5>Alisha Kabir</h5></a>
                                        <p>Founder & Ceo</p>
                                        <div class="rating">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi-body">
                                    <p><span class="img-left"><img src="assets/images/testimonial/qute.png" alt="quete"></span>Continually Onceptualizef Technically invs Professionally monetizeturkeyf Testingdu Frofessionally oe-enablfunctaizede-come rce Onceptualize Technically initiatives.<span class="img-right"><img src="assets/images/testimonial/quete-left.png" alt="quete"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section ending here -->
